PORT=3000
HOST=127.0.0.1
S3_REGION=eu-west-1
S3_ACCESS_KEY_ID=TU_ACCESS_KEY
S3_SECRET_ACCESS_KEY=TU_SECRET_KEY
S3_IMAGE_BUCKET_NAME=tu-bucket-imagenes
S3_VIDEO_BUCKET_NAME=tu-bucket-videos
APP_PASSWORD=una_contraseña_larga
APP_AUTH_SECRET=una_clave_secreta_larga_y_aleatoria
S3_PRESIGN_EXPIRES_IN=180
